Artivity.Apid/Plugins/Manifest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.artivity.io/plugins/manifest/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PluginManifest">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="AgentUri"/>
        <xs:element type="xs:string" name="DefaultColor"/>
        <xs:element type="xs:string" name="DisplayName"/>
        <xs:element type="xs:string" name="ProcessName"/>
        <xs:element type="xs:string" name="ExecutablePath"/>
		<xs:element type="xs:string" name="ExecutableVersion"/>
		<xs:element type="xs:string" name="MinExecutableVersion"/>
		<xs:element type="xs:string" name="MaxExecutableVersion"/>
		<xs:element name="DefaultPath" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:boolean" name="Link"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
		<xs:element type="xs:string" name="SampleFile"/>
        <xs:element type="xs:string" name="SampleResultFilter"/>
        <xs:element type="xs:byte" name="PluginArch"/>
        <xs:element type="xs:string" name="PluginVersion"/>
		<xs:element type="xs:string" name="PluginInstallPath"/>
        <xs:element name="PluginFile" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:boolean" name="Link"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
		<xs:element type="xs:string" name="RegistryId"/>
        <xs:element name="RegistryKey" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:attribute type="xs:string" name="Platform"/>
            <xs:attribute type="xs:string" name="Path"/>
            <xs:attribute type="xs:string" name="Name"/>
            <xs:sequence>
              <xs:element name="RegistryItem">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="Name"/>
                      <xs:attribute type="xs:string" name="Value"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
